# Manipulación de datos y ML clásico
numpy
pandas
scikit-learn
xgboost

# Deep Learning (PyTorch)
torch
torchvision
torchaudio

# Visualización y Notebooks
matplotlib
seaborn
jupyter
ipykernel

# App de apoyo a la decisión (interfaz gráfica) e informes
streamlit
plotly
python-docx